{% extends "templates/web.html" %}

{% block page_content %}

<div class="py-20 row">
  <div class="card" >
    <img class="card-img-top" src="{{ image }}" alt="{{ title }}">
    <div class="card-body">
      <h3 class="card-title">{{title}}</h3>
      <p class="card-text">Price: <strong>{{ frappe.format(standard_rate,{'fieldtype':'Currency'}) }}</strong></p>
      <button class="btn btn-primary" onclick="AddToCart()">Add to Cart</button>
    </div>
  </div>
  </div>

<script>
    function AddToCart(){

		frappe.call({
			method: 'accounting.accounting.doctype.sales_invoice.sales_invoice.add_to_cart',
			args : {
				user:frappe.session.user,
                item_name:"{{title}}",
                qty:flt(1)


			},
			callback: function(r){
				
				
				
				
			}
		})
         }
</script>
{% endblock %}

<!-- this is a sample default web page template -->