<div class="px-4 row">
  <h2>Cart</h2>
</div>
<div class="px-8 row">

  <div class="row">
  
    <div class = "row px-4">
        <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
      </ol>
    </nav>
    </div>
   
  </div>
  {%if cart %}
  <div class = "col text-right">
    <button class="btn mb-3 " value = "{{cart.total_amount}}" onclick = "CheckOut(this.value)">Checkout</button>
  </div>
  {% endif %}
</div>

<div class="row">
  {% if cart %} {% for d in cart.get('items') %} {% set image =
  frappe.db.get_value('Item',d.item_name,'image')%}

  <div class="col-xl-4 mb-6">
    <div class="card" style="width: 25rem">
      <img
        class="card-img-top"
        src="{{ image }}"
        alt="{{ d.item_name }} "
        style="height: 15rem"
      />
      <div class="card-body">
        <h3 class="card-title">{{d.item_name}}</h3>
        <p class="card-text">
          Quantity:<strong>{{ d.item_quantity }}</strong>
        </p>
        <p class="card-text">
          Price:
          <strong
            > ₹ {{ frappe.format(d.amount,{'fieldtype':'Currency'}) }}</strong
          >
        </p>
        

        <div class="row">
          <div class="col">
            <button
              class="btn btn-danger"
              value="{{loop.index}}"
              onclick="RemoveFromCart(this.value)"
            >
              Remove
            </button>
          </div>
          <div class="text-right col">
            <button
              class="btn btn-primary"
              value="{{loop.index}}"
              onclick="BuyItem(this.value)"
            >
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {%endfor%}

</div>
<h3>Total Amount : ₹ {{frappe.format(cart.total_amount,{'fieldtype':'Currency'})}}</h3>

{%else%}
<div class="container">
  <div class="text-center m-10">
    <h2>No Items</h2>
  </div>
</div>

{%endif%}

<script type = "text/javascript">
  function CheckOut(){

    frappe.confirm(
      "Are you sure you want to checkout? " ,
      function () {
        
        frappe.call({
          method:
            "accounting.accounting.doctype.sales_invoice.sales_invoice.update_cart",
          args: {
            user: frappe.session.user,
            index:0,
            submit:true
          },
          callback: function (r) {
            
            
            frappe.msgprint({
              message: "Thanks for shopping!",
              indicator: "success",
              title:"Success"
            });
            
            setTimeout(function(){
              window.location.reload(1);
           }, 3000);
            
          },
        });
      },
      function () {
        window.close();
      }
    );
  }
</script>
<script>
  function RemoveFromCart(idx) {
    idx -= 1;
    frappe.call({
      method:
        "accounting.accounting.doctype.sales_invoice.sales_invoice.update_cart",
      args: {
        user: frappe.session.user,
        index: idx,
      },
      callback: function (r) {
        location.reload();
      },
    });
  }

  function BuyItem(idx) {
    frappe.confirm(
      "Are you sure you want to purchase this item?",
      function () {
        idx -= 1;
        frappe.call({
          method:
            "accounting.accounting.doctype.sales_invoice.sales_invoice.update_cart",
          args: {
            user: frappe.session.user,
            index: idx,
            buy:true
          },
          callback: function (r) {
            
            location.reload();
            show_alert({
              message: "Thanks for shopping!",
              indicator: "success",
            });
          },
        });
      },
      function () {
        window.close();
      }
    );
  }
</script>
